body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
}

/* HEADER */

.header {
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 2vh rgba(124, 124, 124, 0.5);
}

.logo {
    margin-left: 5vw;
}

.logo img {
    height: 2vh;
}

.buttons div {
    margin-right: 5vw;
    height: 4.5vh;
    width: 9vh;
    border: 1px solid rgb(224, 224, 224);
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN */

.main {
    padding: 0 5%;
}

.finder {
    padding: 5vh 0;
}

.finder input {
    height: 3vh;
    padding: 0;
    width: 100%;
    border: none;
    opacity: 0.7;
    font-size: 2vh;
}

.line {
    margin: 0.5vh 0;
    height: 1px;
    background-color: rgb(98, 98, 98);
    opacity: 0.3;
}

.cards_header {
    font-size: 3vh;
    margin-bottom: 3vh;
}

.cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card {
    background-color: rgba(117, 117, 117, 0.05);
    margin-bottom: 2vh;
}

.card img {
    width: 100%;
}

.name {
    font-size: 2vh;
}

.price {
    font-size: 1.9vh;
    color: rgba(98, 98, 98, 1);
}

.time {
    font-size: 1.7vh;
}

/* FOOTER */
.footer {
    font-size: 2vh;
    padding: 7vh 3%;
    color: rgb(255, 255, 255);
    background: rgba(38, 38, 38, 1);
}

.footer_logo img{
    height: 2vh;
}

.footer_container {
    display: flex;
    flex-direction: column;
}

.footer_container div {
    margin-bottom: 3vh;
}

.line2 {
    margin: 0.5vh 0;
    height: 1px;
    background-color: rgb(255, 255, 255);
    opacity: 0.4;
}

.language {
    margin: 5vh 0;
    width: 50%;
    background-color: rgba(59, 59, 59, 1);
    padding: 2vh;
    display: flex;
    align-items: center;
}

.language img{
    width: 3vh;
    margin-right: 3vh;
}

.language select {
    width: 20vh;
    border: none;
    color: rgb(255, 255, 255);
    background-color:rgba(59, 59, 59, 1);
    font-size: 2vh;
    height: 3vh;
}

.social {
    margin-bottom: 5vh;
}

.social img {
    height: 8vh;
}

.apps {
    padding: 1vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apps img {
    width: 18vh;
    margin: 2vh;
}

.AppStore {
    height: 5vh;
}

.PlayMarket {
    height: 7.5vh;
}

.ref {
    margin-top: 5vh;
}

.ref p {
    margin-bottom: 3vh;
}

@media screen and (min-width: 700px) and (max-width: 1124px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2vh;
    }
}

@media screen and (min-width: 1125px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2vh;
    }
    .footer_container {
        display: grid;
        grid-template: repeat(4, 1fr) / repeat(3, 1fr);
        grid-template-areas:"l b c"
                            "l b c"
                            "s b c"
                            "s b c";
        grid-auto-flow: column;
    }
    .language{
        grid-area: l;
    }
    .social {
        grid-area: s;
    }
    .footer_container.second {
        grid-area: b;
    }
    .footer_container.third {
        grid-area: c;
    }
}